.zodiacDiv {
  position: relative;
  text-align: center;

}
.zodiacTitle {
  position: absolute;
  top: 20%;
  left: 50%;
  color:rgb(254, 254, 255);
  transform: translate(-50%, -50%);
  margin: 0;  
  font-size: 2rem;
  visibility: hidden;

}
.zodiacDate {
  text-align: center;
  position:absolute;
  color:rgb(254, 254, 255);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 55%;
  white-space: nowrap;
  font-size: 1.2rem;
  visibility: hidden;

}

.zodiacImg{
  border-radius: 8px;
}

.zodiacImg:hover {
  opacity: 0.1;
  transition: opacity 0.5s;

}

.zodiacImg:hover ~ .zodiacTitle {
  opacity: 1;
  transition: opacity 0.5s;
  visibility: visible;
  text-shadow: 0 0 32px #ff00ff;

}

.zodiacImg:hover ~ .zodiacDate {
  opacity: 1;
  transition: opacity 0.5s;
  visibility: visible;
  text-shadow: 0 0 32px #ff00ff;

}
.zodiacMap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-gap: 20px;
  background-color: black;
  border-radius: 25px;
  padding:50px;
  opacity: .9; 

}

@media only screen and (max-width: 415px){
  .zodiacMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10px;
    grid-gap: 2px;
  }
  .zodiacImg{
    padding: 5px;
    margin: 5px;
    max-width: 100px;
  }

  a{padding: 0px;}

  .hdr{
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;

  }

  .zodiacTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    color:rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    margin: 0;  
    font-size: 1.5rem;
    visibility: visible;
    text-shadow: 0 0 3px #ff00dd;

  }
}

@media only screen and (max-width: 812px) and (min-width: 375px){
  .zodiacMap {
    grid-gap:0;

  }
  h1.hdr{
    margin-left: auto;
    margin-right:auto;
    display:block;
    text-align:center;
    
  }
  .zodiacImg{
    padding: 5px;
    max-width: 100px;
  }
  .zodiacTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    color:rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    margin: 0;  
    font-size: 1.5rem;
    visibility: visible;
    text-shadow: 0 0 3px #ff00dd;

  }
  a{
    padding:0;
  }
  div.zodiacMap{
    margin:0;
    height:100%;

  }
  
  .hdr{
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;

  }
  .zodiacImg{
    border-radius: 8px;
  }
  
}