@font-face {
  font-family: "lovelyFont";
  src: url("Tierkreis5.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
h1 {
  align-self: center;
  color: #f8fdff;
  opacity: 0.8;
  text-align: center;
  border-radius: 0px;
}

h1.title-hdr {
  display: block;
  font-size: 6em;
}

a.title-link {
  color: white;
}

a.title-link:hover {
  text-decoration: none;
  color: white;
}

a.title-link:active {
  text-decoration: none;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color: rgb(227, 252, 2);
  text-align: center;
}

.col {
  height: 100%;
}
.sun2 {
  display: none;
}

.zodiac-hdr {
  font-family: 'Raleway', sans-serif;
}
#dateRange {
  font-size: 1.5rem;
}

.scopeAndFacts h4 {
  align-self: center;
  font-style: italic;
  color: #0e1214;
}
button {
  color: orange;
  font-size: 0.75em;
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
  border-color: transparent;
  background-color: #0e1214;
}

.sun {
  margin-right: 5%;
  text-align: center;
}

.threeScopes {
  opacity: 0.8;
  background-color: #0e1214;
  margin-left: 20%;
  padding: 10px;
  overflow: initial;
}

p {
  font-size: 2em;
  background-color: #0e1214;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2.1em;
}

.threeButtons {
  height: 50px;
  color: rgb(255, 236, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  padding: 20px;
  position: relative;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.btn.daybtn {
  color: rgb(251, 255, 8);
  background-color: purple;
  border-radius:12px;
  border: solid 1px #c4dde9;
  padding: 10px 25px 60px 25px;
  margin: 0px 5px;

}
#btn {
  background-color: purple;
  color: yellow;
  border: solid 1px yellow;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 20px;
  border-radius: 20px;
  display: flex;
}
#btn2 {
  background-color: purple;
  color: yellow;
  margin: auto;
  border: "solid 1px #C4DDE9";
  margin-top: 25px;
  padding-bottom: 40px;
  padding-top: 10px;
}
.btn:hover {
  background-color: rgb(205, 33, 221);
  color: white;
}
#btn:hover {
  background-color: rgb(205, 33, 221);
  color: white;
}

.shareDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px;
  position: relative;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}
.sun2 {
  display: none;
}

.title-hdr {
  margin-right: auto;
  margin-left: auto;
}
.scopes{
  margin-top: 5%;
  margin-left: 3%;
  margin-top: 5%;
  text-align: left;
  overflow: visible;
	overflow-y: hidden;
  height: 300px;
}
.scopeimg {
  display: block;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  position: relative;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  opacity: 10;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: rgb(8, 8, 8);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 20;

  /* Position the tooltip text - see examples below! */
  position: relative;
  z-index: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 1024px) {
  .scopeAndFacts {
    display: unset;
    text-align: justify;
  }
  .threeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    font-size: 1em;
  }
  h1 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .threeScopes {
    margin-top: 25%;
  }
  .threeScopes h3 {
    margin-bottom: 0;
  }
  .threeScopes p {
    font-size: 1.2em;
  }

  a {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  a h3 {
    width: 50%;
  }
  .sun {
    margin-right: 10%;
    text-align: center;
  }
  .zodiac {
    padding: 5px;
    opacity: 1;
    display: block;
    text-align: center;
    margin-top: 0;
    margin-right: auto;
    font-family: "Sawarabi Mincho", sans-serif;
  }
}

@media only screen and (max-width: 500px) and (min-width: 116px) {
  .scopeAndFacts {
    display: unset;
  }
  h1.title-hdr {
    font-size: 3rem;
  }
  .threeScopes {
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.8;
    background-color: #0e1214;
    padding: 5px;
  }
  .threeScopes p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2em;

  }
  .threeButtons {
    padding-top: 5%;
    padding-bottom: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  .shareDiv {
    padding-top: 0;
  }
  button {
    font-size: 1em;
  }
  h1 {
    margin-bottom: 0;
  }
  h4 {
    margin: 0;
  }
  a {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  a h3 {
    width: 30%;
  }

  button {
    color: orange;
    font-size: 0.75em;
    border-radius: 10px;
    border-color: transparent;
    background-color: #0e1214;
    bottom: 60px;
  }
  .btn.daybtn{
    padding:8px;
    border-radius: 5px;

  }
  svg{
    display:none;
  }
  .sunFacts {
    margin-left: 5px;
  }
  .sunFacts h3 {
    font-size: 1.5em;
    text-align: center;
  }

  #new {
    display: contents;
  }
  .threeScopes p {
    font-size: 1.5em;
  }
  .scopes{
    margin-top: 5%;
    margin-left: 3%;
    margin-top: 5%;
    text-align: left;
    overflow: scroll;
    height: 200px;
  }
  .zodiac {
    margin-top: 5%;
    padding: 5px;
    opacity: 1;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Sawarabi Mincho", sans-serif;
  }
  .sunFacts p {
    text-align: center;
  }

  .threeScopes p {
    font-size: 1.4rem;
  }
  .sun {
    display: none;
  }

  .sun2 {
    display: block;
    margin-left: 10%;
    padding: 5rem;
  }
  #btn2 {
    border-radius: 15px;
  }
  .white-text {
    padding: 0rem;
  }
  .sunFacts {
    font-size: 0.8rem;
    opacity: 0.8;
    background-color: #0e1214;
    width: 50%;
    margin-bottom: 15%;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
